<div class="container">
  <h2>Alta de Usuarios</h2>

  <form class="form-horizontal card card-block" #awesomeForm="ngForm" role="form">

    <div class="form-group row">
      <label class="col-form-label col-sm-2">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="user.name" name="name" #name="ngModel" required/>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-sm-2">Apellidos</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" required/>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-sm-2">Fecha Nacimiento</label>
      <div class="col-sm-10">
        <input class="form-control" type="date" [(ngModel)]="user.bornDate" name="bornDate" #bornDate="ngModel" required/>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-12">
        <input type="checkbox" [(ngModel)]="options.clear" name="clean" #clean />
        ¿Conservar la información para el siguiente?
      </label>
    </div>

    <button type="button" class="btn btn-primary" (click)="submitForm()">Guardar</button>
  </form>
</div>
<toaster-container></toaster-container>